a:hover {
  color: rgb(137, 235, 135);
}

.page-title {
  /* background: rgb(239, 222, 28); */
  padding: 2% 0 0 2%;
  font-size: 1.5em;
}

.result-container {
  display: flex;
  width: 100%;
  /* background: rgb(62, 165, 216); */
  justify-content: space-between;
  padding: 2% 5%;
  min-height: 500px;
}

.shopping-list {
  /* background: rgb(28, 239, 81); */
  width: 46%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  background-size: cover; /* 画像を要素全体に広げる */
  background-position: center; /* 画像を中央に配置 */
  background-repeat: no-repeat; /* 画像の繰り返しを防ぐ */
  border-radius: 10px;
}

.shopping-box,
.store-box {
  display: flex;
  flex-direction: column;
  width: 80%;
  background: rgba(255, 255, 255, 0.92);
  margin-top: 30px;
  padding: 7% 7%;
  min-height: 250px;
  border-radius: 10px;
}

.shopping-label {
  margin-bottom: 6%;
  border-bottom: 1px dashed #a5a5a5;
  padding-bottom: 1%;
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  font-family: sans-serif;
}

.shopping-label label,
.shopping-checkbox {
  cursor: pointer;
}

.shopping-label span {
  font-size: 0.9em;
  color: #696868;
}

.store-list {
  /* background: rgb(28, 239, 81); */
  width: 46%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  background-size: cover; /* 画像を要素全体に広げる */
  background-position: center; /* 画像を中央に配置 */
  background-repeat: no-repeat; /* 画像の繰り返しを防ぐ */
  border-radius: 10px;
  min-height: 500px;
}

.Link {
  margin-bottom: 10px;
  padding-bottom: 5px;
  cursor: pointer;
  line-height: normal;
}

.shopping-btn {
  margin-top: 20px;
  padding: 10px;
  background: rgb(33, 45, 156);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}
