.search-container {
  width: 80%;
  margin: 0 auto;
}

table {
  margin: 50px auto;
}

.search-button {
  font-weight: bold;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #2f9e42;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
  margin-top: 10px;
}

.search-column {
  float: left;
}
