.search-container {
  width: 80%;
  margin: 0 auto;
}

table {
  margin: 50px auto;
}

.search-button {
  font-weight: bold;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #2f9e42;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
  margin-top: 10px;
}

.search-button:hover {
  background-color: rgb(137, 235, 135);
}

.search-column {
  float: left;
}

.page-title {
  /* background: rgb(239, 222, 28); */
  padding: 2% 0 0 2%;
  font-size: 1.5em;
}
